
@tailwind base;
@tailwind components;
@tailwind utilities;

 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e8e8e8;
}

@layer components {
  .btn-primary {
    @apply py-1 px-5 bg-white border-[1px] border-green-600 text-green-800 font-bold rounded-full hover:bg-green-800 hover:text-white focus:outline-none focus:ring-2 focus:bg-green-800 focus:text-white focus:ring-opacity-75;
  }
  .btn-secondary {
    @apply py-1 px-5 bg-green-800 border-[1px] text-white font-bold rounded-full hover:bg-green-900 hover:text-white focus:outline-none focus:ring-2 focus:bg-green-800 focus:ring-opacity-75;
  }
}
